.exhibitions {
  position: relative;
  margin-bottom: 1860px;
  @media (max-width: 768px) {
    margin-bottom: 1080px;
  }

  @media (max-width: 540px) {
    margin-bottom: 1000px;
  }

  &__title {
    @media (max-width: 1024px) {
      margin-left: 112px;
    }

    @media (max-width: 540px) {
      margin: 0 auto;
      width: 280px;

      font-size: 36px;
      line-height: 45px;
    }

    margin-left: calc(0.29 * 100vw);

    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;

    color: #1c1b29;

    &-date {
      @media (max-width: 768px) {
        margin-top: 55px;
        margin-left: 199px;
      }

      @media (max-width: 540px) {
        margin: 0 auto;
        margin-top: 45px;
        width: 280px;

        font-size: 24px;
        line-height: 30px;
      }

      margin-top: 100px;
      margin-left: calc(0.43 * 100vw);
      margin-bottom: 20px;

      font-family: "Playfair Display", serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 58px;

      color: #cd4d31;
    }
  }

  &__angels {
    @media (max-width: 768px) {
      top: 206px;
      left: 300px;
    }

    @media (max-width: 540px) {
      width: 280px;
      left: calc((100vw - 280px) / 2);
    }
    position: absolute;
    top: 396px;
    right: 106px;

    &-image {
      @media (max-width: 768px) {
        background-image: none;
      }
      position: absolute;
      top: 45px;
      left: -3px;

      width: 100%;
      height: 816px;

      background-image: url(../images/angel.png);
      background-repeat: no-repeat;
    }

    &-title {
      @media (max-width: 540px) {
        width: 280px;
        padding-bottom: 30px;
      }

      padding-bottom: 20px;

      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #1c1b29;
    }

    &-info {
      @media (max-width: 768px) {
        width: 299px;
      }

      @media (max-width: 540px) {
        width: 280px;
        overflow: hidden;
      }

      padding-bottom: 50px;
      width: 370px;

      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #504f5e;
    }

    &-button {
      @media (max-width: 768px) {
        display: none;
      }

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #cd4d31;
      color: #f1f5f4;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      width: 270px;
      height: 60px;

      transition: transform 1s;

      &:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 5px 1px rgba(255, 0, 0, 0.5);
      }
    }
  }

  &__art {
    @media (max-width: 1024px) {
      left: 115px;
    }

    @media (max-width: 768px) {
      top: 506px;
      left: 100px;
    }

    @media (max-width: 540px) {
      top: 476px;
      width: 280px;
      left: calc((100vw - 280px) / 2);
    }

    position: absolute;
    top: 852px;
    left: 215px;

    &-image {
      @media (max-width: 768px) {
        background-image: none;
      }
      position: absolute;
      top: 803px;
      right: 0;

      width: 575px;
      height: 432px;

      background-image: url(../images/art_img.svg);
      background-repeat: no-repeat;
    }
  
    &-text-image {
      @media (max-width: 1024px) {
        background-image: none;
      }

      position: absolute;
      top: 718px;
      right: 57px;

      width: 568px;
      height: 576px;

      background-image: url(../images/art_text.png);
      background-repeat: no-repeat;
    }
  
    &-status {
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

      color: #cd4d31;
      margin-bottom: 10px;
    }

    &-title {
      @media (max-width: 540px) {
        width: 280px;
        margin-bottom: 30px;
      }

      margin-bottom: 20px;

      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #1c1b29;
    }

    &-info {
      @media (max-width: 768px) {
        width: 270px;
      }

      @media (max-width: 540px) {
        width: 280px;
        overflow: hidden;
      }

      width: 370px;
      padding-bottom: 50px;

      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #504f5e;
    }
  
    &-button {
      @media (max-width: 768px) {
        display: none;
      }

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #cd4d31;
      color: #f1f5f4;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      width: 270px;
      height: 60px;

      transition: transform 1s;

      &:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 5px 1px rgba(255, 0, 0, 0.5);
      }
    }
  }

  &__old-art {
    @media (max-width: 1024px) {
      right: 110px;
    }

    @media (max-width: 768px) {
      top: 800px;
      left: 300px;
    }

    @media (max-width: 540px) {
      top: 760px;
      width: 280px;
      left: calc((100vw - 280px) / 2);
    }

    position: absolute;
    top: 1424px;
    right: 155px;
  
    &-image {
      @media (max-width: 768px) {
        background-image: none;
        width: 0;
      }

      @media (max-width: 540px) {
        width: 0;
      }

      position: absolute;
      top: 1305px;
      left: 31px;

      width: 584px;
      height: 499px;
  
      background-image: url(../images/old_art.png);
      background-repeat: no-repeat;
    }
  
    &-text-image {
      @media (max-width: 1024px) {
        background-image: none;
      }

      @media (max-width: 540px) {
        width: 0;
      }

      position: absolute;
      top: 1294px;
      left: 41px;
  
      width: 540px;
      height: 576px;
  
      background-image: url(../images/old_art_text.png);
      background-repeat: no-repeat;
    }
  
    &-status {
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
  
      color: #cd4d31;
      margin-bottom: 10px;
    }

    &-title {
      @media (max-width: 540px) {
        width: 280px;
        margin-bottom: 30px;
      }

      margin-bottom: 20px;

      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #1c1b29;
    }

    &-info {
      @media (max-width: 768px) {
        width: 270px;
      }

      width: 370px;
      padding-bottom: 50px;
  
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #504f5e;
    }

    &-button {
      @media (max-width: 768px) {
        display: none;
      }

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #cd4d31;
      color: #f1f5f4;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      width: 270px;
      height: 60px;

      transition: transform 1s;

      &:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 5px 1px rgba(255, 0, 0, 0.5);
      }
    }
  }

  &__footer {
    @media (max-width: 768px) {
      top: 1100px;
      left: calc((100vw - 214px) / 2);
      flex-direction: column;
      justify-content: center;
    }

    @media (max-width: 540px) {
      top: 1020px;
    }

    position: absolute;
    top: 1830px;
    right: 122px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 214px;

    &-text {
      width: 123px;

      text-decoration: none;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      color: #1c1b29;
    }

    &-line {
      @media (max-width: 768px) {
        margin-top: 10px;
        width: 170px;
      }

      @media (max-width: 540px) {
        margin-top: 10px;
        width: 130px;
      }
      content: "";
      width: 70px;
      height: 1px;
      background-color: #1c1b29;
    }
  }
}
