.nav {
  padding-top: 90px;
  padding-left: 57px;

  @media (max-width: 1024px) {
    padding-left: 99px;
  }

  @media (max-width: 540px) {
    padding-left: 0;
  }

  &__info {
    @media (max-width: 768px) {
      display: none;
    }
    display: grid;
    grid-template-columns: 170px 220px;
    gap: 30px;

    &-shedule {
      &-text {
        font-family: Raleway, sans-serif;
        font-size: 14px;
        font-weight: 200;
        line-height: 20px;

        color: #f1f5f4;
      }

      &-time {
        font-family: Raleway, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: #f1f5f4;
      }
    }

    &-adress {
      &-text {
        font-family: Raleway, sans-serif;
        font-size: 14px;
        font-weight: 200;
        line-height: 20px;

        color: #f1f5f4;
      }

      &-location {
        font-family: Raleway, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: #f1f5f4;
      }
    }
  }

  &__list {
    @media (max-width: 768px) {
      margin-top: 80px;
    }

    @media (max-width: 540px) {
      padding-left: 20px;
    }
    margin-top: 70px;
  }

  &__item {
    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
    list-style: none;
    margin-bottom: 45px;
  }

  &__link {
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 24px;
    }
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;

    color: #f1f5f4;
  }

  &__content {
    @media (max-width: 1024px) {
      margin-bottom: 70px;
      width: 570px;
    }

    @media (max-width: 540px) {
      display: none;
    }
    margin-bottom: 45px;

    height: 1px;
    width: 600px;

    content: "";
    background-color: #f1f5f4;
  }

  &__buttons {
    @media (max-width: 540px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      margin: 100px auto 0;
    }

    display: grid;
    grid-template-columns: 270px 270px;
    align-items: center;
    gap: 30px;

    &-ticket {
      @media (max-width: 540px) {
        width: 280px;
      }
      height: 60px;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #cd4d31;
      color: #f1f5f4;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

      transition: transform 1s;

      &:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 5px 1px rgba(255, 0, 0, 0.5);
      }
    }

    &-member {
      @media (max-width: 540px) {
        width: 280px;
      }
      height: 60px;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #3f5252;
      color: #f1f5f4;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border: 1px solid #f1f5f4;

      transition: transform 1s;

      &:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 5px 1px rgba(255, 0, 0, 0.5);
      }
    }
  }

  &__image {
    @media (max-width: 1024px) {
      display: none;
    }
    position: absolute;
    bottom: -4px;
    right: 5px;

    &-painter {
      width: 574px;
      height: 681px;
    }
  }
}
