.nav {
  padding-top: 90px;
  padding-left: 57px;

  &__info {
    display: grid;
    grid-template-columns: 170px 220px;
    gap: 30px;

    &-shedule {
      &-text {
        font-family: Raleway, sans-serif;
        font-size: 14px;
        font-weight: 200;
        line-height: 20px;

        color: #f1f5f4;
      }

      &-time {
        font-family: Raleway, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: #f1f5f4;
      }
    }

    &-adress {
      &-text {
        font-family: Raleway, sans-serif;
        font-size: 14px;
        font-weight: 200;
        line-height: 20px;

        color: #f1f5f4;
      }

      &-location {
        font-family: Raleway, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: #f1f5f4;
      }
    }
  }

  &__list {
    margin-top: 70px;
  }

  &__item {
    list-style: none;
    margin-bottom: 45px;
  }

  &__link {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;

    color: #f1f5f4;
  }

  &__content {
    margin-bottom: 45px;

    height: 1px;
    width: 600px;

    content: "";
    background-color: #f1f5f4;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 270px 270px;
    gap: 30px;

    &-ticket {
      height: 60px;

      background-color: #cd4d31;
      color: #f1f5f4;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border: none;
      cursor: pointer;
    }

    &-member {
      height: 60px;

      background-color: #3f5252;
      color: #f1f5f4;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border: 1px solid #f1f5f4;
      cursor: pointer;
    }
  }

  &__image {
    position: absolute;
    top: -23px;
    right: 5px;

    &-painter {
      width: 574px;
      height: 681px;
    }
  }
}
