.news {
  position: relative;
  &__title {
    @media (max-width: 768px) {
      margin-top: 115px;
      margin-left: 100px;
    }

    @media (max-width: 540px) {
      margin-top: 80px;
      width: 310px;
      overflow: hidden;
      margin-left: calc((100vw - 280px) / 2);
    }

    margin-top: 120px;
    margin-left: 255px;
    margin-bottom: 75px;

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;

    color: #1c1b29;
  }

  &__container {
    position: relative;
    padding: 0 55px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    justify-content: center;
    gap: 30px;

    @media (max-width: 1024px) {
      grid-template-columns: 310px 310px 310px;
      gap: 10px;
      padding: 0;
    }

    @media (max-width: 768px) {
      grid-template-columns: 310px 310px;
      justify-content: center;
      gap: 30px;
    }

    @media (max-width: 540px) {
      grid-template-columns: 1fr;
      justify-content: center;
      margin-left: calc((100vw - 310px) / 2);
    }

    margin-bottom: 255px;
  }

  @media (max-width: 768px) {
    &__kulish {
      display: none;
    }
  }

  @media (max-width: 540px) {
    &__cat {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    &__winner,
    &__cat,
    &__kulish {
      width: 310px;
      &-img {
        width: 310px;
      }
      gap: 10px;
    }
  }

  &__winner,
  &__cat,
  &__kulish {
    cursor: pointer;
    transition: 1s;

    &:hover {
      transform: scale(1.07);
      border-radius: 10px;
    }
  }

  &__date {
    margin-top: 30px;

    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;

    color: #1c1b29;
  }

  &__subtitle {
    margin-top: 5px;

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    color: #1c1b29;
  }

  &__text {
    margin-top: 15px;

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #504f5e;
  }

  &__footer {
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      left: calc((100vw - 170px) / 2);
    }

    @media (max-width: 540px) {
      left: calc((100vw - 214px) / 2);
      flex-direction: column;
      justify-content: center;
    }

    position: absolute;
    bottom: -95px;
    right: 174px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 171px;

    &-text {
      width: 123px;

      text-align: center;
      text-decoration: none;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      color: #1c1b29;
    }

    &-line {
      @media (max-width: 768px) {
        margin-top: 10px;
        width: 170px;
      }

      @media (max-width: 540px) {
        width: 130px;
      }

      content: "";
      width: 70px;
      height: 1px;
      background-color: #1c1b29;
    }
  }
}
