.news {
  position: relative;
  &__title {
    margin-top: 120px;
    margin-left: 255px;
    margin-bottom: 75px;

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;

    color: #1c1b29;
  }

  &__container {
    position: relative;
    padding: 0 55px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    align-items: center;
    justify-content: center;
    gap: 30px;

    margin-bottom: 255px;
  }

  &__date {
    margin-top: 30px;

    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;

    color: #1c1b29;
  }

  &__subtitle {
    margin-top: 5px;

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    color: #1c1b29;
  }

  &__text {
    margin-top: 15px;

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #504f5e;
  }

  &__footer {
    position: absolute;
    bottom: -95px;
    right: 174px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 171px;

    &-text {
      width: 123px;

      text-decoration: none;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      color: #1c1b29;
    }

    &-line {
      content: "";
      width: 70px;
      height: 1px;
      background-color: #1c1b29;
    }
  }
}
