.subscribe {
  height: 459px;
  background-color: #cd4d31;
  padding-left: 55px;

  @media (max-width: 768px) {
    padding-right: 55px;
  }

  @media (max-width: 540px) {
    padding: 0;
  }

  &__title {
    @media (max-width: 1024px) {
      font-size: 42px;
      line-height: 50px;
    }

    @media (max-width: 768px) {
      padding-top: 100px;
      padding-bottom: 80px;
    }

    @media (max-width: 540px) {
      margin-left: calc((100vw - 280px) / 2);
      padding-top: 80px;
      padding-bottom: 40px;

      width: 280px;

      font-size: 36px;
      line-height: 36px;
    }

    padding-top: 160px;
    padding-bottom: 41px;

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    color: #f1f5f4;
  }

  &__content {
    @media (max-width: 1024px) {
      display: flex;
      margin-right: 40px;
    }

    @media (max-width: 768px) {
      display: flex;
    }

    @media (max-width: 540px) {
      display: flex;
      flex-direction: column;
      margin-left: calc((100vw - 280px) / 2);
      width: 280px;
      gap: 0;
    }

    display: grid;
    align-items: end;
    grid-template-columns: 570px 380px;
    gap: 130px;
  }

  &__text {
    @media (max-width: 540px) {
      padding-bottom: 60px;
    }

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #f1f5f4;
  }

  &__form {
    display: flex;
    gap: 30px;

    ::placeholder {
      color: #f1f5f4;
    }
  }

  &__field {
    @media (max-width: 1024px) {
      width: 200px;
      font-size: 16px;
      line-height: 20px;
    }
    width: 300px;

    background-color: #cd4d31;

    font-family: Raleway, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #f1f5f4;

    outline: none;
    border: none;
    border-bottom: 1px solid #f1f5f4;

    &::after {
      background-color: #cd4d31;
      content: "";
    }
  }

  &__button {
    width: 42px;
    height: 42px;

    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #f1f5f4;
    border-radius: 50%;
    background-image: url("../images/subcribe_btn.svg");
    background-repeat: no-repeat;
    background-position: center center;

    visibility: hidden;
  }

  &__field:focus + &__button {
    visibility: visible;
    opacity: 1;
  }
}
