.events {
  &__title {
    margin-left: 355px;
    padding-bottom: 63px;

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;

    color: #1c1b29;
  }
}
