.exhibitions__angels {
  position: absolute;
  top: 396px;
  left: 656px;

  &-image {
    position: absolute;
    top: 45px;
    left: -3px;

    width: 100%;
    height: 816px;

    background-image: url(../images/angel.png);
    background-repeat: no-repeat;
  }

  &-title {
    padding-bottom: 20px;

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1c1b29;
  }

  &-info {
    padding-bottom: 50px;
    width: 370px;

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #504f5e;
  }

  &-button {
    background-color: #cd4d31;
    color: #f1f5f4;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    width: 270px;
    height: 60px;
    cursor: pointer;
  }
}
