.exhibitions__art {
  position: absolute;
  top: 852px;
  left: 255px;

  &-image {
    position: absolute;
    top: 803px;
    right: 0;

    width: 575px;
    height: 432px;

    background-image: url(../images/art_img.svg);
    background-repeat: no-repeat;
  }

  &-text-image {
    position: absolute;
    top: 718px;
    left: 655px;

    width: 568px;
    height: 576px;

    background-image: url(../images/art_text.png);
    background-repeat: no-repeat;
  }

  &-status {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #cd4d31;
    margin-bottom: 10px;
  }

  &-title {
    margin-bottom: 20px;

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1c1b29;
  }

  &-info {
    width: 370px;
    padding-bottom: 50px;

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #504f5e;
  }

  &-button {
    background-color: #cd4d31;
    color: #f1f5f4;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    width: 270px;
    height: 60px;
    cursor: pointer;
  }
}
